.formation-node {
  background-color: black;
  height: 64px;
  width: 64px;
  border: 2px solid white;
  position: relative;
}

.formation-node-active {
  background-color: green;
}

.formation-node-hovered {
  background-color: cadetblue;
}

.formation-node-inactive {
  background-color: teal;
}

.formation-node-center {
  background-color: aqua;
}

.formation-node-static {
  background-color: #e22c00;
}

.formation-node-point-blank {
  background-color: red;
}

.formation-node-target {
  background-color: #c12e2e;
}

.formation-node-target-center {
  background-color: #c60b0b;
}
