.game-entity {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
}

.entity-name {
  position: absolute;
  text-shadow: 1px 1px 2px black;
  z-index: 3;
  bottom: 0px;
}

.entity-enemy-name {
  color: red;
}

.entity-neutral-name {
  color: white;
}

.entity-player-name {
  color: limegreen;
}

.entity-icon {
  position: absolute;
  z-index: 2;
}
