<div>
  <h4 (mouseenter)="onMouseEnter('growth')">Growth Points</h4>
  <h6>Unallocated Points</h6>
  <div>
    <img *ngFor="let position of getFreePointsArray()" src="images/dungeon/wall/crystal_wall_lightcyan.png" draggable="false" />
    <img class="hidden-img" src="images/dungeon/wall/crystal_wall_lightcyan.png" draggable="false" />
  </div>
  <br />
  <game-stat-slider *ngFor="let statName of getStatNames()" [statName]="statName"
                    [bonusStats]="base.bonusStats" [allocatedStats]="stats"
                    [maxStats]="base.maxStats"
                    [clickHandler]="onStatSliderClicked.bind(self)"
                    [mouseEnterHandler]="onMouseEnter.bind(self)"></game-stat-slider>
</div>
