<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!--Formation grid-->
      <div class="formation-container">
        <game-formation-grid *ngIf="isLoaded" [formation]="activeFormation"
                                              [specialIconsFunc]="getExtraIcons.bind(this)"
                                              [nodeClickHandler]="onNodeClick.bind(this)"
                                              [getNodeStateFunc]="getNodeState.bind(this)"
                                              [setHoveredEntityFunc]="setHoveredEntity.bind(this)"></game-formation-grid>
      </div>
    </div>

    <!--Formation settings-->
    <div class="col-md-4">
      <form #form="ngForm" name="formationForm">
        <div class="form-group">
          <label for="formationName">Formation Name</label>
          <input name="formationName" type="text" class="form-control" id="formationName" [(ngModel)]="activeFormation.name"/>
        </div>
        <div class="form-group">
          <div class="leader-icon">
            <game-display-entity *ngIf="activeFormationLeader != null" [entity]="activeFormationLeader"></game-display-entity>
          </div>
          <button class="btn btn-secondary" (click)="chooseLeaderClicked()">Choose Leader</button>
        </div>
      </form>
    </div>
    <div class="col-md-2">
      <div *ngIf="isLoaded" class="formation-tab">

        <!--Formations list-->
        <div *ngFor="let leader of getFormationLeaders(); let i = index">
          <div>
            {{formations[i].name}}
          </div>
          <game-display-entity [displayName]="false" [entity]="leader" (click)="selectFormation(i)"></game-display-entity>
        </div>

        <!--New Formation button-->
        <div class="new-formation" (click)="newFormation()">
          <div>New Formation</div>
          <img src="images/misc/unseen_monster.png" draggable="false" />
        </div>
      </div>
      <button (click)="sendRequestAsync()">{{getButtonName()}}</button>
    </div>
  </div>

  <!--Entities list-->
  <div class="row">
    <div *ngIf="isLoaded" class="entity-tab">
      <game-combat-panel [activeEntity]="getCombatPanelEntity()" [activeEntityPosition]="getCombatPanelEntityPosition()">
      </game-combat-panel>
      <div (mouseenter)="setHoveredEntity(entity)" (mouseleave)="setHoveredEntity(null)"
           [ngClass]="getNodeState(entity)" *ngFor="let entity of entities" class="entity-node">
        <game-display-entity [entity]="entity" [clickHandler]="selectEntity.bind(this)" [extraIcons]="getExtraIcons(entity)">
        </game-display-entity>
      </div>
    </div>
  </div>
</div>
