<div class="context-menu" [ngStyle]="getMenuPosition()">
  <div (click)="onMoveSelected.emit()">Move Here</div>
  <div class="context-menu-section" *ngIf="entities != null && entities.length > 0">
    <game-context-menu-list *ngFor="let entity of entities"
                            [entity]="entity"
                            (onAttackSelected)="onAttackSelected.emit($event)"
                            (onJoinSelected)="onJoinSelected.emit($event)"></game-context-menu-list>
  </div>
  <div (click)="onCancelSelected.emit()" class="context-menu-button">Cancel</div>
</div>
