.context-menu {
  position: absolute;
  background-color: black;
  z-index: 4;
}

.context-menu-section {
  overflow-y: auto;
  max-height: 400px;
}

.context-menu-button {
  background-color: #bfd7ff;
}
