.grid-node {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 3px;
  margin: 3px;
  background-color: dimgray;
}

.grid-node-active {
  background-color: teal;
}

.grid-node-center {
  background-color: aqua;
}

.grid-node-static {
  background-color: #e22c00;
}

.grid-row {
  display: inline-block;
}
