.grid-node {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 3px;
  margin: 3px;
  background-color: dimgray;
  display: inline-block;
}

.grid-node-active {
  background-color: teal;
}

.grid-node-center {
  background-color: aqua;
}

.grid-node-static {
  background-color: #e22c00;
}

.grid-node-point-blank {
  background-color: red;
}

.grid-row {
  display: block;
  margin-bottom: 0px;
  text-align: center;
}

.grid-block {
  display: inline-block;
  margin-left: 8px;
}
