.edit-entity {
  position: relative;
  height: 60px;
  width: 48px;
  background-color: #471120;
}

.icon {
  position: absolute;
  height: 32px;
  width: 32px;
}

.icon-label {
  text-align: center;
}

.icon-container {
  background-color: dimgray;
}
