.hud {
  position: fixed;
  z-index: 20;
  top: 0;
}

.hud-block {
  display: inline-block;
}

.hud-component {
  display: inline-block;
}

.col-md-5 {
  display: flex;
  flex-direction: column;
}

.prompt-overlay {
  background: rgba(0, 0, 0, .5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1000;
}

.spacer {
  padding-top: 100px;
}

.spacer-small {
  padding-top: 20px;
}
