<div class="prompt-body">
  <div class="prompt-title"><h4>{{title}}</h4></div>
  <div class="prompt-text">{{message}}</div>
  <div>
    <div *ngIf="optionOne != null">
      <button class="btn btn-primary prompt-button"
              (click)="onOptionOneClicked.emit()">
        {{optionOne}}
      </button>
    </div>
    <div *ngIf="optionTwo != null">
      <button class="btn btn-secondary prompt-button"
              (click)="onOptionTwoClicked.emit()">
        {{optionTwo}}
      </button>
    </div>
  </div>
</div>
