<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="entity-selection-container">
        <div (mouseenter)="changeHoveredComponentName('edit')" class="entity-selection">
          <game-edit-entity *ngFor="let entity of entities" [entity]="entity" [clickHandler]="selectEntity.bind(self)"></game-edit-entity>
          <div class="edit-entity" (click)="newEntity()">
            <div class="icon-label">New</div>
            <div class="icon-container">
              <img class="icon" src="images/misc/unseen_monster.png" draggable="false" />
            </div>
          </div>
        </div>
      </div>
      <div class="entity-viewer-container" *ngIf="isLoaded">
        <div class="entity-viewer">
          <div class="icon-label">{{name}}</div>
          <img class="icon-enlarged" src="{{getBaseUri()}}" />
          <img class="icon-enlarged" src="{{getHairUri()}}" />
        </div>
      </div>
    </div>
    <div class="options-window col-md-5">
      <form #form="ngForm" name="characterForm">
        <div class="form-group">
          <label for="nameInput">Character Name: </label>
          <input class="form-control" [(ngModel)]="name" type="text" name="nameInput" />
        </div>
        <div class="form-group">
          <label for="hairSelection">Hair: </label>
          <select class="form-control" [(ngModel)]="hairId" name="hairSelection">
            <option *ngFor="let hair of hairs" value="{{hair.id}}">{{hair.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="bodySelection">Race and Sex: </label>
          <input type="hidden" [(ngModel)]="baseId" name="bodyHiddenInput" />
          <select class="form-control" [ngModel]="baseId" (ngModelChange)="onBaseChanged($event)"
                  name="bodySelection" [disabled]="isEditing">
            <option *ngFor="let base of bases" value="{{base.id}}">{{base.name}}</option>
          </select>
        </div>
        <button class="btn btn-primary" (click)="sendRequestAsync()">
          {{getButtonText()}}
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <game-description-component [hoveredComponentName]="hoveredComponentName"></game-description-component>
    </div>
    <div class="col-md-5">
      <game-stat-picker *ngIf="isLoaded" #statPicker [base]="selectedBase" [(stats)]="stats"
                        (onMouseEnterEvent)="changeHoveredComponentName($event)"></game-stat-picker>
    </div>
  </div>
</div>
