.icon-enlarged {
  position: absolute;
  height: 64px;
  width: 64px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.entity-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  border-radius: 4px;
  /* width: 450px; */
  /* max-height: 500px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.entity-viewer-container {
  height: 200px;
  text-align: center;
  background-color: dimgrey;
  top: auto;
  bottom: auto;
  position: relative;
}

.entity-node {
  position: relative;
  height: 48px;
  width: 48px;
}

.new-entity-container {
  position: relative;
  height: auto;
  width: 48px;
  background-color: #471120;
  border-radius: 3px;
}
