.resource-max {
  width: 100%;
  position: relative;
  border: 1px solid black;
  background-color: #fffaf9;
}

.resource-current {
  height: 100%;
  display: inline-block;
}

.resource-text {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
