.entity-resource-card {
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
}

.entity-resource-container {
  min-width: 200px;
}

.resource-block {
  display: inline-block;
  position: relative;
}

.resource-component {
  height: 20px;
}

.resource-entity {
  width: 50%;
  height: 50%;
}
