<div class="container">
  <div class="col-offset-1 col-md-6">
    <table *ngIf="showMap()">
      <tr *ngFor="let mapRow of getTileIds(); let i = index">
        <td *ngFor="let mapTileId of mapRow; let j = index">
          <game-tile-node class="node" [location]="getLocation(i, j)" [mapTile]="getMapTile(mapTileId)" [entity]="getEntity(i, j)"></game-tile-node>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-5">
    <game-chatbox-component #chatbox></game-chatbox-component>
  </div>
</div>
