<div class="container">
  <div class="col-offset-1 col-md-6">
    <table *ngIf="showMap()">
      <tr *ngFor="let mapRow of getTileIds(); let i = index">
        <td *ngFor="let mapTileId of mapRow; let j = index">
          <div class="tileGrid">
            <map-tile-component [location]="getLocation(i, j)" [mapTile]="getMapTile(mapTileId)"></map-tile-component>
            <world-entity-component  [entity]="getEntity(i, j)" *ngIf="showEntity(i, j)"></world-entity-component>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-5">
    <game-chatbox-component #chatbox></game-chatbox-component>
  </div>
</div>
