.formation-ally {
  color: lightblue;
}

.formation-enemy {
  color: red;
}

.formation-table {
  margin: 0 auto;
}

.formation-grid {
  margin: 0 auto;
  /*flex-direction: column;*/
}

.formation-name {
  text-align: center;
}

.formation-player {
  color: limegreen;
}
